{% extends 'servicios/base.html' %}

{% block header %}
Clientes Registrados:
{% endblock header %}

{% block main %}
<form action="{% url 'cliente_list' %}" method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
</form>
    <button>
        <a href="{% url 'cliente_create' %}">Crear Registro:</a>
    </button>
    {% for object in object_list %}
        <p> {{ object.apellido}} {{object.nombre}} ({{object.cuit}})</p>
    {% empty %}
        <p>No hay Registros.</p>
    {% endfor %}
    <button>
        <a href="{% url 'index' %}" style="color: red";>Volver</a>
    </button>
{% endblock main %}